\begin{align}
    F_\lambda = \frac{A_{flare} B_\lambda(T_{flare})}{d^2}
\end{align}

\begin{align}
    \frac{A_{flare}}{A_{star}} = \frac{B_\lambda(T_{star})}{B_\lambda(T_{flare})} \times \frac{F_\lambda}{F_\mathrm{star}}
\end{align}

In [1]:
from funcs.color_temperatures import blackbodyw
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
T_star = 2648 
T_flare = 7950
T_flare2 = 6040

In [3]:
flare1 = np.genfromtxt("../results/values/brightness_flare1_TRAPPIST-1.txt",delimiter="," , skip_header=1)

In [4]:
response = pd.read_csv("../data/MuSCAT2_response/MuSCAT2_response.csv")

In [5]:
response.fillna(0)

,wavelength,Filter_g,Filter_r,Filter_i,Filter_z,Total_g,Total_r,Total_i,Total_z,Atmosphere
0,395.0,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.703
1,395.5,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.704
2,396.0,0.001,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.705
3,396.5,0.001,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.706
4,397.0,0.001,0.0,0.0,0.000,0.001,0.0,0.0,0.0,0.707
...,...,...,...,...,...,...,...,...,...,...
1068,931.0,0.000,0.0,0.0,0.001,0.000,0.0,0.0,0.0,0.859
1069,931.5,0.000,0.0,0.0,0.001,0.000,0.0,0.0,0.0,0.829
1070,932.0,0.000,0.0,0.0,0.001,0.000,0.0,0.0,0.0,0.798
1071,932.5,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.767
1072,933.0,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.0,0.738

In [6]:
from funcs.aflare1 import aflare1

In [7]:
g_gilter = pd.read_pickle("../data/TRAPPIST1_flares_MuSCAT2/flareprofiles_g.pkl")
r_gilter = pd.read_pickle("../data/TRAPPIST1_flares_MuSCAT2/flareprofiles_r.pkl")
i_gilter = pd.read_pickle("../data/TRAPPIST1_flares_MuSCAT2/flareprofiles_i.pkl")
z_gilter = pd.read_pickle("../data/TRAPPIST1_flares_MuSCAT2/flareprofiles_z.pkl")

In [8]:
g_gilter

,index,Tpeak,stpeak,sTpeak,Fwhm,sfwhm,sFwhm,Ampl,sampl,sAmpl,ED,sed,sED
0,0,4254.553891,0.000057,0.000040,0.002911,0.000324,0.000122,2.536813,0.031736,0.057429,1165.247824,141.798393,23.955743
1,1,4306.433293,0.000072,0.000079,0.003886,0.000252,0.000546,1.145481,0.041230,0.048867,587.995275,48.478983,86.625805

In [9]:
timeobs = np.linspace(4254.547, 4254.75,1000)
timeobs2 = np.linspace(4306.429, 4306.65,1000)

In [10]:
# take the mean values 
g_mean = np.mean(aflare1(timeobs,4254.55, 0.002911, 2.536813)[aflare1(timeobs,4254.55, 0.002911, 2.536813)!=0])  
r_mean = np.mean(aflare1(timeobs,4254.55, 0.003241, 0.761855)[aflare1(timeobs,4254.55, 0.003241, 0.761855)!=0])  
i_mean = np.mean(aflare1(timeobs,4254.55, 0.002058, 0.080390)[aflare1(timeobs,4254.55, 0.002058, 0.080390)!= 0])  
z_mean = np.mean(aflare1(timeobs,4254.55, 0.001098, 0.041576)[aflare1(timeobs,4254.55, 0.001098, 0.041576) != 0])  

g_mean2 = np.mean(aflare1(timeobs2,4306.433293, 0.003886, 1.145481)[aflare1(timeobs2,4306.433293, 0.003886, 1.145481) != 0])  
r_mean2 = np.mean(aflare1(timeobs2,4306.433293, 0.005018, 0.376393)[aflare1(timeobs2,4306.433293, 0.005018, 0.376393) != 0])  
i_mean2 = np.mean(aflare1(timeobs2,4306.433293, 0.003761, 0.035423)[aflare1(timeobs2,4306.433293, 0.003761, 0.035423) != 0])  
z_mean2 = np.mean(aflare1(timeobs2,4306.433293, 0.000862, 0.022422)[aflare1(timeobs2,4306.433293, 0.000862, 0.022422) != 0])

In [11]:
# Use formula two
A_flareg = np.nansum(blackbodyw(response["wavelength"],T_star, response["Filter_g"]))/np.nansum(blackbodyw(response["wavelength"],T_flare, response["Filter_g"]))*g_mean
A_flarer = np.nansum(blackbodyw(response["wavelength"],T_star, response["Filter_r"]))/np.nansum(blackbodyw(response["wavelength"],T_flare, response["Filter_r"]))*r_mean 
A_flarei = np.nansum(blackbodyw(response["wavelength"],T_star, response["Filter_i"]))/np.nansum(blackbodyw(response["wavelength"],T_flare, response["Filter_i"]))*i_mean
A_flarez = np.nansum(blackbodyw(response["wavelength"],T_star, response["Filter_z"]))/np.nansum(blackbodyw(response["wavelength"],T_flare, response["Filter_z"]))*z_mean 

A_flareg2 = np.nansum(blackbodyw(response["wavelength"],T_star, response["Filter_g"]))/np.nansum(blackbodyw(response["wavelength"],T_flare2, response["Filter_g"]))*g_mean2
A_flarer2 = np.nansum(blackbodyw(response["wavelength"],T_star, response["Filter_r"]))/np.nansum(blackbodyw(response["wavelength"],T_flare2, response["Filter_r"]))*r_mean2
A_flarei2 = np.nansum(blackbodyw(response["wavelength"],T_star, response["Filter_i"]))/np.nansum(blackbodyw(response["wavelength"],T_flare2, response["Filter_i"]))*i_mean2
A_flarez2 = np.nansum(blackbodyw(response["wavelength"],T_star, response["Filter_z"]))/np.nansum(blackbodyw(response["wavelength"],T_flare2, response["Filter_z"]))*z_mean2

NumExpr defaulting to 8 threads.

In [12]:
#areas are different for different passbands 
A_flareg, A_flarer, A_flarei, A_flarez

(0.02213257066577392,
 0.007392083836898215,
 0.0004978207305428708,
 0.00013798173037042307)

In [13]:
A_flareg2, A_flarer2, A_flarei2, A_flarez2

(0.016146193024212906,
 0.00683348915511596,
 0.0004836915605725607,
 7.082918566380017e-05)